		  <div class="about">
			<h2>About us</h2>
			<div>
		  
<p>The main goal of Pet on Rails is to create a sustainable e-commerce platform solution for an online Pet store.
				</p><p>
This project stems from the idea that pet ownership is on the rise and brings many benefits to human health, however when it comes to caring for our pets, we still have a long way to go and need to be more pro-active.
				</p><p>

For nearly half a century, the pet population has been on the increase, this evolution coincides with a dramatic growth in pet ownership and yet, despite such popularity and demand, every year, pets are becoming more and more at risk of cruelty neglect and abuse.
				</p><p>

The trend in pet ownership is currently booming and undoubtedly in expansion, this has brought a new form of demand on the market. Such increase has led to the development of online services for Pet owners and concomitantly raised the need for more quality control, better logistics and technological know-how.
				</p><p>

For that matter, Pets on rails is also a platform where customers can expand their knowledge about pet related issues. Such perspective is achieved through the delivery of professional services and quality assurance Industry standards.
				</p><p>

Pets on Rails endeavour is also to create a platform that caters for the needs of both owners and their pets.
				</p><p>

Pets on rails is not your regular e-commerce platform for pet supplies, it aims to be so much more than that. That is why, Pets on Rails places a great deal of emphasis on:

		</p>

<ol><li>Product Quality
</li><li>Animal Wellbeing and Welfare
</li><li>Environmental and social responsibility
</li></ol>

		<p>

Such elements are vital to establish a successful long term relationship with loyal customers.
				</p><p>

Pets on rails aim to become an e-commerce platform with a difference.
				</p><p>

Currently the online Pet Industry has become a strong market contender. Pet owners have come to rely more and more on online networks to meet their needs. With Pets on Rails users will be able to choose and browse for specific products categories, place orders and purchase products through a secure payment gateway system, register their own account, carry out searches on various pet related interests, gain knowledge about pet related issues etc.
				</p><p>

Pet lovers will be able to login/register and subscribe to monthly newsletters. They will be able to browse, search, view items and related information, special offers, discounts etc.
				</p><p>

Additionally, the site will be providing books, articles and video tutorials to educate new pet owners and assist current ones with the daily tasks of caring for a pet.
				</p>

		  
		  
			  </div>
		  </div>
