<h2>Pet Guide</h2>
<div>
	<p> Here are some useful pet quide tips for your pets. Easy and convenient for you to learn more on how to understand them. basic intructions to useful information not just for your pet but also for other animals. </p>
	<p>Books:<br>
1.	“Doodle Cats & Dogs: Adult Colouring Book: Stress Relieving Cats and Dogs Designs for Women and Men” by Lue Mathai (Author)<br>
2.	“The Happy Puppy Handbook: Your Definitive Guide to Puppy Care and Early Training” Paperback - by Pippa Mattinson (Author)<br>
3.	“The Lion in the Living Room: How House Cats Tamed Us and Took Over the World” Paperback - by Abigail Tucker (Author)<br> 4. “A Guinea Pig Oliver Twist” Hardcover – 22 Sep 2016 by Alex Goodwin (Author)<br></p>
<p>Video Tutorials:<br>
 <a href="https://www.youtube.com/user/kikopup">Visit Kikopup!</a><br>
 <a href="https://www.youtube.com/user/supernaturalbc2009">Visit Donna Hill!</a><br>
 <a href="https://www.youtube.com/watch?v=lRH9bzIuCcM">How to Groom a Dog!</a><br>
 <a href="https://www.youtube.com/watch?v=Yzv0gXqoCkc">Pet Care Basics!</a><br>
 <a href="https://www.youtube.com/watch?v=jFMA5ggFsXU">Dog Training 101: How to Train ANY DOG the Basics</a>
   <br></p>
<p>Articles:
<br><a href="https://newsinhealth.nih.gov/2009/february/feature1.htm">NIH News in Health</a><br>
<br><a href="https://www.psychologytoday.com/blog/pets-and-their-people/201211/the-bond-between-pet-and-owner">The Bond between Pet and Owners</a><br>
<p>Links:
<br><a href="https://www.rspca.org.uk/home?gclid=COfO6OSs888CFcS87QodefINZQ">Visit RSPCA</a><br>
<br><a href="https://www.worldanimalprotection.org/?gclid=CPyK77XH888CFUFQ2wodQHcG9g">World Animal Protection</a><br>
</p>
</div>

