<h1>Your message</h1>

<p>
  <strong>Fullname:</strong>
  <%= @contact.fullname %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @contact.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact.message %>
</p>

